
.adsection2 {
    min-height: auto;
    max-height: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0 10px;
  
    .adgrid {
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      grid-template-rows: auto;
      grid-template-columns: minmax(auto, 500px) minmax(auto, 1200px);
      grid-auto-columns: auto;
      grid-auto-flow: row;
      place-items: stretch stretch;
      max-width: 1600px;
      margin-left: auto;
      margin-right: auto;
    }

    .w-layout-grid {
      grid-row-gap: 16px;
      grid-column-gap: 16px;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr 1fr;
      grid-auto-columns: 1fr;
      display: grid;
    }
  
    .adblock {
      background-color: #fff;
      border-radius: 15px;
      width: 100%;
      height: 100%;
      min-height: 80px;
      display: block;
      box-shadow: 0 2px 5px #0003;

      #adblock.w-node-_991ac598-3910-cb12-c813-26163bb1414b-117db3f6 {
        place-self: auto;
      }
  
      .adlink2 {
        background-image: url("https://cdn.prod.website-files.com/66ab7b46556019f9117db3ca/66ad85dadcc66606f0d4f82a_Frame%20147.svg");
        background-position: 50%;
        background-size: cover;
        background-attachment: scroll;
        border-radius: 15px;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        display: flex;
      }
      .w-inline-block {
        max-width: 100%;
        display: inline-block;
      }
    }
  
  }
  
  