@font-face {
    font-family: 'Gilroy';
    src: url('../font/Gilroy-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url('../font/Gilroy-Light.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('../font/Gilroy-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../font/Gilroy-Bold.woff') format('woff');
}