@import '../../assets/styles/fonts.scss';

.progress-bar-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 9px;
  text-decoration: none;
  font-family: 'Jetbrainsmono', sans-serif;

  &__level {
      color: #8a8a8a;
      font-size: 18px;
      font-weight: 600;
      text-decoration: none;
      margin-left: 10%; 
  }

  &__container {
      width: 80%; 
      height: 10px;
      background-color: #dcdcdc;
      border-radius: 5px;
      overflow: hidden;
      margin-left: 10%; 
  }

  &__bar {
      height: 100%;
      width: var(--pers, 0%);
      background-color: #f0a500;
      border-radius: 5px 0 0 5px;
      transition: width 0.5s ease;
  }

  &__description {
      color: #8a8a8a;
      font-size: 16px;
      margin-left: 10%; 
  }
}















  
