.user {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  flex-grow: 1;
}
.user__info {
  margin-top: 13px;
}
.user__info-title {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.user__info-blocks {
  display: flex;
  gap: 30px;
  max-width: 650px;
  flex-wrap: wrap;
  margin-top: 39px;
}
.user__info-block {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 18px;
}
.user__info-block h3 {
  color: rgba(132, 132, 132, 1);
}
.user__images {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: rgba(218, 218, 218, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.user__info-block-button {
  color: rgba(0, 88, 100, 1);
  font-size: 14px;
  cursor: pointer;
}
.user__info-email {
  display: flex;
  gap: 13px;
  align-items: center;
}
.user__info-email-confirm-icon {
  color: rgba(0, 184, 0, 1);
  font-size: 10px;
}
