.profile__section {
  display: flex;
  padding: 21px;
  justify-content: space-between;
  background-color: #f9f9f9;
  border-radius: 20px;
  width: 100%;
  min-height: 105vh;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5019607843);
  flex-wrap: wrap;
}
.profile__menu {
  display: flex;
  flex-direction: column;
  gap: 21px;
  border-radius: 25px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
  padding: 34px 25px 101px 25px;
  text-align: center;
  min-height: 728px;
  min-width: 322px;
}
.profile__menu-item {
  font-weight: 400;
  font-size: 25px;
  min-width: 230px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 18px;
  border-radius: 10px;
  padding-left: 20px;
  padding: 10px 20px;
  cursor: pointer;
}
.profile__menu-item.active {
  background-color: rgba(218, 218, 218, 0.4);
}
