.ad-section-two {
  min-height: auto;
  max-height: 70px;
  margin-top: 15px;
  margin-bottom: 30px;
  padding: 0 10px;
  z-index: 1;

  &__grid {
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: minmax(auto, 500px) minmax(auto, 1200px);
    grid-auto-columns: auto;
    grid-auto-flow: row;
    place-items: stretch stretch;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    height: 90px;
  }

  &__block {
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    min-height: 60px;
    display: block;
    box-shadow: 0 2px 5px #0003;

    &--custom {
      place-self: auto;
    }
  }

  &__link {
    background-image: url("https://cdn.prod.website-files.com/66ab7b46556019f9117db3ca/66ad85dadcc66606f0d4f82a_Frame%20147.svg");
    background-position: 50%;
    background-size: cover;
    background-attachment: scroll;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    max-width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .ad-section-two {
    max-height: none;
    margin-block: 12px;
    padding: 0px;
  }
  .ad-section-two__grid {
    display: flex;
    margin: 0 auto;
    width: 360px;
  }
  .level-block {
    padding: 10px 22.5px;
  }
  .ad-section-two__block {
    display: none;
  }
  .progress-bar-block__level {
    font-size: 10px;
  }
  .progress-bar-block__description {
    font-size: 8px;
  }
  .level-block__crown {
    width: 32px;
    height: auto;
  }
}
