.itemssection {
  min-height: auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.itemsbg {
  align-self: center;
  background-color: #f9f9f9;
  border-radius: 20px;
  padding: 24px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 33px;
  max-width: 100%;
}
