@import "./assets/styles/reset.scss";
@import "./assets/styles/fonts.scss";

body {
  font-size: 16px;
  font-family: "Jetbrainsmono";
}

button {
  cursor: pointer;
}

[class*="__container"] {
  max-width: 1640px;
  padding-inline: 20px;
  margin: 0 auto;
}
