.button {
  color: #005864;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  padding: 10px 20px;
  box-shadow: 2px 2px 3.5px 0px rgba(0, 0, 0, 0.35);
}

.button--color--yellow {
  color: black;
  background-color: var(--color-yellow);
  box-shadow: none;
}

.button--color--gray {
  color: black;
  background: rgb(236, 236, 236);
  box-shadow: none;
}
