.cart-actions {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding-bottom: 20px;
  border-radius: 25px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(218, 218, 218, 1);
    margin-top: 20px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cart-actions__row--top {
      background-color: rgba(249, 249, 249, 1);
      padding-top: 25px;
      padding-left: 21px;
      padding-right: 21px;
    }

    &--top,
    &--bottom {
      .cart-actions__side {
        display: flex;
        align-items: center;
        background-color: rgba(249, 249, 249, 1);
        // margin-top: 25px;
        cursor: pointer;

        &--left {
          .cart-actions__icon {
            // margin-right: 10px;
            // margin-left: 40px;
            cursor: pointer;
          }
        }

        .cart-actions__icon-collect {
          width: 300px;
          height: 40px;
          padding-left: 20px;
          cursor: pointer;
        }

        &--right {
          .cart-actions__icon {
            margin-right: 8px;
            cursor: pointer;
          }

          .cart-actions__text {
            font-size: 16px;
            color: #005864;
            margin-right: 23px;
          }
        }
      }
    }
  }

  &__row--top {
    background-color: rgba(249, 249, 249, 1);
    padding-top: 25px;
    background-clip: content-box;
    padding-left: 21px;
    padding-right: 21px;
    border-radius: 12px;
  }

  &__row--middle {
    font-size: 14px;
    color: #171717;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    .cart-actions__unavailable {
      color: #9b9b9b;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    gap: 11px;
    padding-left: 7px;

    .cart-actions__text {
      font-size: 12px;
      color: #171717;
      line-height: 15.84px;
    }
  }

  .cart-actions__row--bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 27px;
  }

  &__divider {
    border: none;
    border-top: 1px solid #e5e5e5;
    margin-top: 10px;
  }
}

.cart-actions__action {
  cursor: pointer;
}

.cart-actions__count {
  background-color: #f9f9f9;
  font-size: 12px;
}

.presents {
  height: 40px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-clip: content-box;
}

.image-icon {
  width: 300px;
  height: 40px;
  padding: 10 0px;
}
