.catalogpc {
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    display: none;
    overflow: auto;
}

.div-block-32 {
    background-color: #fff;
    border-radius: 20px;
    max-width: 250px;
    height: auto;
    margin-right: 40px;
    padding: 20px;
    box-shadow: 0 0 5px #00000040;
  }

.div-block-33 {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 12px;
    display: block;
}  