.cart-header {
    width: 1900px; 
    padding: 33px;
  
    &__title {
      font-family: 'JetBrains Mono', sans-serif;
      font-weight: 700; 
      font-size: 32px; 
      line-height: 42.24px; 
      color: #171717; 
      margin: 0; 
    }
  }
  