.cart-items {
    display: flex;
    justify-content: space-between;
    // box-shadow: 0 4px 8px rgba(0.2, 0.2, 0.2, 0.2);
    border-radius: 25px;
  
    &__column {
      width: 50%;
    }
  
    &__column--empty {
      background-color: #f8f8f8; 
    }
  
    &__product {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      margin-bottom: 15px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;
  
      &--out-of-stock {
        opacity: 0.5;
      }
  
      .cart-items__controls {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; 
        margin-right: 10px;
  
        .cart-items__icon {
          width: 20px;
          height: 20px;
          margin-bottom: 10px;
        }
      }

      .third-column {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        justify-content: space-between;
        
      }

      .cart-items__actions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-between;
        margin-top: 20px;
      }

      .fourth-column {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        justify-content: space-between;
        margin-left: 20px;
      
        .cart-items__pricing {
          width: 100%;
          text-align: right; 
        }
      
        .cart-items__quantity-rating {
          display: flex;
          justify-content: center; 
          width: 100%;
        }
      
        .cart-items__quantity-btn {
          background-color: #f1f1f1;
          border: none;
          width: 30px;
          height: 30px;
          cursor: pointer;
          padding-left: 10px;
        }
      
        .cart-items__rating {
          text-align: right;
          width: 100%;
          margin-top: auto; 
        }
      }

      .cart-items__price--red {
        font-size: 18px;
        color: red;
        font-weight: 800;
      }

      .cart-items__status--red {
        color: red;
      }

      .cart-items__price--green {
        font-size: 18px;
        color: #00C033;
        font-weight: 800;
      }

      .cart-items__status {
        font-size: 10px;
        display: flex;

      }

      .cart-items__order-button {
        font-size: 10px;
        margin-left: 5px;
      }
  
      &__image {
        width: 125px;
        height: 125px;
        margin-right: 15px;
      }

         .cart-items__subtitle {
            font-size: 12px;
            color: #7d7d7d;
            margin-bottom: 10px;
          }

          .cart-items__brend {
            width: 62px;
            height: 18px;
            margin-bottom: 5px;
          }

          .cart-items__sellout {
            width: 57px;
            height: 11px;

          }
  
      .cart-items__details {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        // flex-grow: 1;
        margin-right: 15px;

        .brend-sellout {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .cart-items__name {
            font-size: 16px;
        }

     
  
        &__info {
          margin-bottom: 10px;
  

  

  
          &__brend {
            margin-bottom: 5px;
          }
  
          &__sellout {
            margin-bottom: 10px;
          }
        }

  
        &__actions {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
  
          &__action-icon {
            width: 18px;
            height: 18px;
            margin-right: 10px;
          }
  
          &__order-button {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            padding: 5px 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
  
            &:hover {
              background-color: #0056b3;
            }
          }
        }
  
        &__extra-info {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
  
          &__bonus, &__abroad {
            display: flex;
            align-items: center;
            margin-top: 10px;
  
            img {
              margin-right: 5px;
            }
          }
        }
      }
  
      &__pricing {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
  
        &__price {
          font-size: 18px;
          margin-bottom: 10px;
  
          &--red {
            color: #ff4d4f;
          }
  
          &--green {
            color: #28a745;
          }
        }
  
        &__quantity-rating {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          margin-bottom: 10px;
  
          &__quantity-btn {
            background-color: #f1f1f1;
            border: none;
            width: 30px;
            height: 30px;
            cursor: pointer;
            margin: 5px 0;
            display: flex;
            align-items: center;
            justify-content: center;
          }
  
          &__rating {
            font-size: 14px;
            display: inline-block;
            margin-top: 5px;
          }
        }
  
        &__status {
          font-size: 14px;
          text-align: right;
        }
  
        &__status--red {
          color: #ff4d4f;
        }
      }
    }
  }

  .commodity-info {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
  }

  .commodity-text {
    font-size: 10px;
    margin-left: 5px;
  }




  