.catalogpc {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	max-width: 1600px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 20px;
	overflow: auto;
}

.div-block-32 {
	background-color: #fff;
	border-radius: 20px;
	max-width: 250px;
	height: auto;
	margin-right: 40px;
	padding: 20px;
	box-shadow: 0 0 5px #00000040;
}

.list {
	padding-left: 0;
	list-style-type: none;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 10px;
	padding-left: 40px;
}

.list-item {
	background-color: #dadada80;
	border-radius: 12px;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 10px;
	padding: 8px 20px;
	display: flex;
}

.list-item-idle {
	background-color: #dadada00;
	border-radius: 12px;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 10px;
	padding: 8px 20px;
	display: flex;
}

.list-item-idle:hover {
	background-color: #dadada00;
	border-radius: 12px;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 10px;
	padding: 8px 20px;
	display: flex;
	background-color: rgba(218, 218, 218, 0.26);
}

.link-block-31 {
	color: #1a1a1a;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 100%;
	text-decoration: none;
	display: flex;
}

.text-block-19 {
	color: #1a1a1a;
	padding-left: 10px;
	font-size: 16px;
	text-decoration: none;

}

.div-block-33 {
	flex-flow: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 12px;
	display: block;
}

.text-block-20 {
	margin-bottom: 30px;
	font-size: 28px;
	font-weight: 500;
	position: static;
}

.subcat {
	flex-flow: column;
	justify-content: flex-start;
	align-items: flex-start;
	display: flex;
}

.text-block-21 {
	margin-bottom: 14px;
	font-size: 18px;
	font-weight: 500;
}

.link-block-32 {
	margin-bottom: 5px;
	text-decoration: none;
}

.link-block-32:hover {
	margin-bottom: 5px;
	text-decoration: none;
	opacity: 0.7;
}

.loadmore {
	color: #005864;
	margin-top: 9px;
	margin-bottom: 0;
	text-decoration: none;
}

.loadmore:hover {
	color: #005864;
	margin-top: 9px;
	margin-bottom: 0;
	text-decoration: none;
	opacity: 0.7;
}

.grid-6 {
	grid-column-gap: 50px;
	grid-row-gap: 50px;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-bottom: 25px;
}

.w-layout-grid {
	grid-auto-columns: 1fr;
	display: grid;
}

.text-block-22 {
	color: #848484;
	font-size: 15px;
	text-decoration: none;
}