@media screen and (max-width: 700px) {
  .itemsgrid {
    gap: 12px;
    padding: 0px;
    background: none;
    overflow-x: auto;
    width: 100%;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
}

@media (max-width: 430px) {
  .itemsgrid {
    justify-content: space-between;
    overflow-x: visible;
  }
  .product-card:nth-child(n + 4) {
    display: none;
  }
  .product-card:nth-child(n + 3) {
    display: none;
  }
}
