.itemsgrid {
  padding: 10px;
  border-radius: 30px;
  margin: 0 auto;
  display: flex;
  gap: 32px;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.itemsgrid::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.itemsgrid::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.itemsgrid::-webkit-scrollbar-track {
  background-color: transparent;
}

.itemsgrid::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
