.catalog {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  width: 100%;
  flex-wrap: wrap;
  gap: 49px;
  max-width: 1600px;
  margin: 0 auto;
  align-items: flex-start;

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 25px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
    padding: 34px 25px 34px 25px;
    text-align: center;
  }
  &__menu-item {
    font-weight: 400;
    font-size: 18px;
    min-width: 230px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 18px;
    border-radius: 10px;
    padding-left: 20px;
    padding: 10px 20px;
    cursor: pointer;
  }

  &__menu-item.active {
    background-color: rgba(218, 218, 218, 0.4);
  }
}
