.mobile-catalog {
  padding: 17px 29px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  &__title {
    font-size: 25px;
    font-weight: 800;
    color: #aaaaaa;
  }
  &__large-items {
    flex-shrink: 0;
    margin-top: 20px;
    border-radius: 15px;
    padding: 10px 10px;
    background-color: #f0f0f0;
    overflow-x: auto;
    display: flex;
    align-items: center;
    gap: 13px;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
  &__small-items {
    flex: 1 1 auto;
    align-content: start;
    padding-inline: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 50px);
    justify-content: space-between;
    gap: 12px;
    margin-top: 20px;
  }

  &__others {
    margin-top: auto;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
  }
}

.mobile-catalog-large-item {
  &__block-img {
    --size: 112px;
    overflow: hidden;
    min-width: var(--size);
    max-width: var(--size);
    aspect-ratio: 1;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text {
    padding: 4px;
    margin-top: 10px;
    color: rgb(102, 102, 102);
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    background: rgb(249, 249, 249);
  }
}

.mobile-catalog-small-item {
  &__block-img {
    --size: 50px;
    min-width: var(--size);
    max-width: var(--size);
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 14px;
    background: rgb(240, 240, 240);
  }

  &__img {
    object-fit: cover;
  }

  &__text {
    margin-top: 7px;
    color: rgb(132, 132, 132);
    font-size: 7px;
    font-weight: 400;
    text-align: center;
  }
}

.page-catalog {
  border-radius: 25px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
}
