.user {
  display: flex;
  gap: 49px;
  margin-top: 10px;
  flex-grow: 1;
}
.user__info {
  margin-top: 13px;
}
.user__info-title {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.user__info-blocks {
  display: flex;
  gap: 49px;
  max-width: 650px;
  flex-wrap: wrap;
  margin-top: 39px;
}
.user__info-block {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 18px;
}
.user__info-block h3 {
  color: rgba(132, 132, 132, 1);
}
.profile__images {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgba(218, 218, 218, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.change__button {
  color: rgba(0, 88, 100, 1);
  font-size: 14px;
  cursor: pointer;
}
.email__info {
  display: flex;
  gap: 13px;
  align-items: center;
}
.email__confirm {
  color: rgba(0, 184, 0, 1);
  font-size: 10px;
}
.user__safety::before {
  display: block;
  width: 100%;
  content: "";
  border: 1px solid rgba(146, 146, 146, 1);
  margin-top: 34px;
  margin-bottom: 39px;
}
.bottom__blocks {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bottom__blocks-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}
.botttom__block {
  display: flex;
  gap: 16px;
  align-items: center;
}
.content__block {
  display: flex;
  width: 365px;
  padding: 11px 7px;
  justify-content: space-between;
  background-color: rgba(218, 218, 218, 0.4);
  align-items: center;
  border-radius: 10px;
}
.check__botton {
  border-radius: 10px;
  padding: 9px 17px;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  color: rgba(0, 88, 100, 1);
  width: 172px;
  border: 2px solid rgba(0, 88, 100, 1);
}
.password {
  display: flex;
  gap: 9px;
  align-items: center;
}
.safe-password {
  background: rgba(0, 255, 102, 0.09);
  color: rgba(95, 95, 95, 1);
  padding: 8px 17px;
  border-radius: 10px;
}
.sms__block {
  background: rgba(54, 54, 54, 0.09);
  color: rgba(95, 95, 95, 1);
  padding: 7px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 3px;
}
.buttons__block {
  display: flex;
  flex-direction: column;
  width: 172px;
}
.delete__account-button {
  border-radius: 10px;
  padding: 9px 17px;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  color: rgba(204, 0, 0, 1);
  width: 152px;
  border: 2px solid rgba(204, 0, 0, 1);
}
