.scroll-to-bottom {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 1000;
  border: 2px solid transparent;
  background-color: white;
  transition: border-color 0.3s ease-in-out;
  border-radius: 10px;
  background-color: #e5e5e5a6;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 50%;
    height: 50%;
  }
}

@media screen and (max-width: 700px) {
  .scroll-to-bottom {
    display: none;
  }
}
