.cart-full-page {
  background-color: #f9f9f9;
}

.cart-page__title {
  margin: 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 42.24px;
  color: #171717;
  margin: 0;
}

.cart-page {
  max-width: 1640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 24px;
  gap: 36px;

  &__grid {
    display: flex;
    gap: 22px;
    justify-content: space-between;
  }

  &__side {
    display: grid;
    max-width: 467px;
    grid-gap: 20px;
  }
}

.recommendations {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 33px;
  max-width: 1640px;
  background-color: rgba(255, 255, 255, 0.65);
  padding-top: 43px;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.product-strip {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cart-ai-block {
  max-width: 467px;
}
.mouse-mamba {
  color: rgba(0, 88, 100, 1);
  font-weight: 500;
}
