.cart-page {
    width: 1900px;
    display: flex;
    flex-direction: column;
    
    &__grid {
      display: grid;
      grid-template-columns: 80px 1fr 467px; 
      grid-template-rows: 1fr auto; 
      grid-gap: 20px;
      padding: 20px 33px;
    }
  
    .vertical-nav {
      grid-column: 1 / 2; 
      grid-row: 1 / 3; 
    }
  
    .cart-content {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
    }
  
    &__side {
      display: grid;
      grid-template-rows: 1fr auto; 
      grid-gap: 20px;
      grid-column: 3 / 4;
    }
  
    .delivery-info {
      grid-row: 1 / 2; 
    }
  
    .artificial-text {
      grid-row: 2 / 3; 
    }
  }
  
  
  