.cart-header {
  width: 1600px; 
  margin: 0 auto; 
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  margin-bottom: 30px;
}

.cart-header__title {
  font-family: 'JetBrains Mono', sans-serif;
  font-weight: 700; 
  font-size: 32px; 
  line-height: 42.24px; 
  color: #171717; 
  margin: 0; 
}

.cart-page {
    width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 50px;
    
    &__grid {
      width: 1600px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 80px 1fr 467px; 
      grid-template-rows: 1fr auto; 
      grid-gap: 30px;
      
      
    }
  
    .vertical-nav {
      grid-column: 1 / 2; 
      grid-row: 1 / 3; 
    }
  
    .cart-content {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
    }
  
    &__side {
      display: grid;
      grid-template-rows: 1fr auto; 
      grid-gap: 20px;
      grid-column: 3 / 4;
    }
  
    .delivery-info {
      grid-row: 1 / 2; 
    }
  
    .artificial-text {
      grid-row: 2 / 3; 
    }
  }

  .recommendations {
    width: 1600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
  }
  
  .product-strip {
    width: 100%; 
    display: flex;
    justify-content: center; 
  }
  
  
  
  