.sessions {
  display: flex;
  flex-direction: column;
  padding: 25px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35) inset;
  border-radius: 25px;
  gap: 29px;
}
.sessions__title {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.sessions__wrapper {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.sessions__item {
  display: flex;
  gap: 18px;
  background: rgba(218, 218, 218, 0.4);
  justify-content: space-between;
  border-radius: 10px;
  padding: 7px;
  font-size: 12px;
}
.sessions__info {
  color: black;
  width: 160px;
}
.sessions__button {
  width: 50px;
  height: 26px;
  color: white;
  background: rgba(204, 0, 0, 0.65);
  text-align: center;
  padding: 4px 19px;
  border-radius: 5px;
  cursor: pointer;
}
.sessions__aditional-info {
  font-size: 14p;
  color: rgba(155, 155, 155, 1);
}
