.profile__section {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  width: 100%;
  flex-wrap: wrap;
  gap: 49px;
  max-width: 1600px;
  margin: 0 auto;
  align-items: flex-start;
}
.profile__menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 25px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
  padding: 34px 25px 34px 25px;
  text-align: center;
}
.profile__menu-item {
  font-weight: 400;
  font-size: 18px;
  min-width: 230px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 18px;
  border-radius: 10px;
  padding-left: 20px;
  padding: 10px 20px;
  cursor: pointer;
}
.profile__menu-item.active {
  background-color: rgba(218, 218, 218, 0.4);
}

// @media screen and (max-width: 1800px) {
//   .profile__section {
//     justify-content: space-between;
//   }
//   .profile__menu {
//     order: 0;
//   }
//   .user {
//     margin-top: 50px;
//     justify-content: center;
//     order: 2;
//   }
//   .sessions {
//     order: 1;
//   }
// }
