.description__price {
  color: #00d46e;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 20px;
  text-decoration: none;
  display: flex;

}

.description__price-current {
  color: #00d46e;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 800; 
  font-family: "Montserrat-Montserrat-ExtraBold", sans-serif; 
}

.description__price-old {
  color: #858585;
  letter-spacing: 1px;
  margin-left: 8px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: line-through;
}

.description__text {
  color: #171717;
}

.description__text-content {
  letter-spacing: 1px;
  margin-top: 10px;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
}





  

  