.cart-items {
  display: flex;
  justify-content: space-between;
  border-radius: 25px;
  padding-bottom: 29px;

  &__product {
    display: flex;
    justify-content: space-between;
    margin-left: 21px;
    margin-top: 20px;
    background-color: #fff;
    position: relative;
    gap: 35px;
    background-color: rgba(251, 251, 251, 1);
    background-clip: content-box;
    order: 1;
    border-radius: 10px 10px 0px 0px;

    &.has-additional-info {
      position: relative;
      background-clip: content-box;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 97%; /* Line width */
        height: 0.5px;
        background-color: rgba(218, 218, 218, 1);
      }
    }

    .cart-items__controls {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding-top: 10px;
      padding-left: 12px;

      .cart-items__icon {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }

    .third-column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      flex: 1;
    }

    .cart-items__product .third-column > * {
      flex-grow: 0;
      flex-basis: auto;
    }

    .cart-items__actions {
      display: flex;
      gap: 13px;
      padding-top: 30px;
      flex-wrap: wrap;
    }

    .cart-items__action-icon-lightning {
      padding-left: 6px;
    }

    .fourth-column {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: right;
      gap: 27px;

      .cart-items__pricing {
        width: 100%;
        text-align: right;
        flex-grow: 1;
        padding-right: 28px;
      }

      .cart-items__price {
        color: rgba(218, 0, 0, 1);
        font-weight: 700;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        padding: 6px 16px;
      }

      .cart-items__action-icon-star {
        padding-right: 4px;
        width: 16px;
        height: 16px;
      }

      .cart-items__quantity-rating {
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        font-size: 12px;
        background-color: #f4f4f4;
        border-radius: 6px;
        gap: 11px;
        height: 30px;
        padding: 8px 5px;
      }

      .new-quantity {
        display: flex;
        justify-content: right;
        padding-right: 12px;
      }

      .cart-items__quantity-btn {
        border: none;
        width: 14px;
        height: 14px;
        cursor: pointer;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        background-color: rgba(255, 255, 255, 1);
        color: rgba(142, 142, 142, 1);
      }

      .cart-items__rating {
        text-align: right;
        width: 100%;
        margin-top: auto;
        padding-right: 8px;
        padding-bottom: 10px;
      }
    }

    .cart-items__status {
      font-size: 10px;
      display: flex;
      margin-left: 10px;
      padding-top: 2px;
    }

    .paragraph-status {
      display: flex;
      justify-items: center;
      align-items: center;
      margin-right: 40px;
      padding-bottom: 10px;
    }

    .cart-items__order-button {
      font-size: 10px;
      margin-left: 5px;
    }

    &__image {
      width: 125px;
      height: 125px;
      margin-right: 15px;
    }

    .cart-items__subtitle {
      font-size: 12px;
      color: #7d7d7d;
      margin-bottom: 10px;
    }

    .cart-items__brend {
      width: 62px;
      height: 18px;
      margin-bottom: 5px;
    }

    .cart-items__sellout {
      width: 57px;
      height: 11px;
    }

    .cart-items__details {
      display: flex;
      flex-direction: column;
      margin-right: 15px;

      .brend-sellout {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .cart-items__name {
        font-size: 14px;
        padding-top: 10px;
      }

      &__info {
        margin-bottom: 10px;

        &__brend {
          margin-bottom: 5px;
        }

        &__sellout {
          margin-bottom: 10px;
        }
      }

      &__actions {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        padding-bottom: 10px;

        &__action-icon {
          width: 18px;
          height: 18px;
          margin-right: 10px;
        }

        &__order-button {
          background-color: #007bff;
          color: #fff;
          border: none;
          border-radius: 4px;
          padding: 5px 10px;
          cursor: pointer;

          &:hover {
            background-color: #0056b3;
          }
        }
      }

      &__extra-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        &__bonus,
        &__abroad {
          display: flex;
          align-items: center;
          margin-top: 10px;

          img {
            margin-right: 5px;
          }
        }
      }
    }

    &__pricing {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;

      .cart-items__price--green {
        font-size: 18px;
        color: rgba(0, 192, 51, 1);
      }

      &__price {
        font-size: 18px;
        color: rgba(0, 192, 51, 1);

        &--green {
          color: #28a745;
        }
      }

      &__status {
        font-size: 14px;
        text-align: right;
      }

      &__status--red {
        color: #ff4d4f;
      }
    }
  }
}

.cart-items__price--green {
  font-size: 18px;
  color: rgba(0, 192, 51, 1);
  font-weight: 700;
  margin-top: 10px;
  padding: 6px 16px;
  border-radius: 6px;
}

.commodity-info {
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 30px;
}

.cart-items__status {
  color: red;
  font-weight: 700;
}

.commodity-info {
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.rating-card {
  font-weight: 700;
  font-size: 11px;
  color: rgba(23, 23, 23, 0.5);
  line-height: 14.52px;
}

.cart-items__action-icon-star {
  width: 20px;
  height: 20px;
}

.pale {
  background-color: rgba(218, 218, 218, 0.084);
}

.cart-items__image {
  width: 101px;
  height: 81px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.place-for-image {
  width: 125px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-number {
  display: flex;
  align-items: right;
}

.background-item {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.background-item:has(.pale) .cart-items__product {
  border-radius: 10px 10px 0px 0px;
  border-top: 1px dashed rgba(218, 218, 218, 0.6);
  border-left: 1px dashed rgba(218, 218, 218, 0.6);
  border-right: 1px dashed rgba(218, 218, 218, 0.6);
  border-bottom: none;
}

.list-of-actions {
  display: flex;
  gap: 5px;
}

.grey-background {
  background-color: rgba(244, 244, 244, 1);
  border-radius: 4px;
}

.for-text-background {
  background-color: rgba(255, 255, 255, 1);
}

.list-of-actions {
  padding-bottom: 10px;
}

.background-item:last-of-type .cart-items__controls,
.background-item:last-of-type .place-for-image,
.background-item:last-of-type .fourth-column,
.background-item:last-of-type .cart-items__details,
.background-item:last-of-type .grey-background {
  opacity: 0.5;
}
