.header {
  margin-top: 12px;

  margin-bottom: 20px;
}

.upper-header {
  &__container {
  }
  &__body {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 5px #0003;
    gap: 10px;
  }
  &__links {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__language {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
  }

  &__link-text {
    text-transform: uppercase;
    color: rgba(131, 131, 131, 1);
  }
}

.lower-header {
  &__links {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__link {
    width: 27px;
    aspect-ratio: 1;
  }

  &__body {
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-top: 12px;
    padding: 10px 20px 10px 10px;
    box-shadow: 0 2px 5px #0003;
    gap: 20px;
  }
}
