.main {
  background-color: #f9f9f9;
  border-radius: 20px;
  width: 100%;
  min-width: auto;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: visible;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1) inset;
  position: relative;
  z-index: 2;
  flex: 1 1 auto;
}

@media screen and (max-width: 700px) {
  .main {
    background: rgba(249, 249, 249, 1);
    box-shadow: none;
    padding-top: 0px;
    margin-top: 12px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 70vh;
  }
  .adsection {
    padding-inline: 0px;
  }
  .itemssection {
    padding-inline: 0px;
  }
}
