.main {
  background-color: #f9f9f9;
  border-radius: 20px;
  width: 100%;
  min-width: auto;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: visible;
  box-shadow: inset 0 0 5px #00000080;
  position: relative;
  z-index: 2;
}
