.main {
  background-color: #f9f9f9;
  border-radius: 20px;
  width: 100%;
  min-width: auto;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: visible;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1) inset;
  position: relative;
  z-index: 2;
}
