.product-card {
  width: 240px;

  &__block-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 4px 4px 14.7px 0px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
    overflow: hidden;
    width: 100%;
    height: 220px;
  }

  &__body {
    padding-inline: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__image {
    max-width: 100%;
    object-fit: cover;
  }

  &__rating-reviews {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 11px;
    color: #17171780;
    font-weight: 700;
  }

  &__like {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &__star {
    color: #ffd700;
    width: 20px;
    height: 20px;
  }

  &__pricing {
    display: flex;
    align-items: center;
    gap: 7px;
  }

  &__price {
    font-size: 18px;
    font-weight: 800;
    color: #00d407;
  }

  &__old-price {
    color: rgb(117, 117, 117);
    font-weight: 700;
    line-height: 16px;
    text-decoration-line: line-through;
  }

  &__discount {
    color: rgb(239, 0, 0);
    font-weight: 700;
  }

  &__name {
    font-weight: 500;
    color: #171717;
    font-size: 15px;
  }

  &__actions {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }

  &__to-cart {
    flex: 0 90px;
  }

  &__fast-to-cart {
    padding: 0;
    flex: 0 0 40px;
  }
}
