.product-card {
  max-width: 240px;
  min-width: 240px;

  &__block-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
    overflow: hidden;
    width: 100%;
    height: 220px;
  }

  &__body {
    padding-inline: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__image {
    max-width: 60%;
    object-fit: cover;
  }

  &__rating-reviews {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 11px;
    color: #17171780;
    font-weight: 700;
  }

  &__like {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &__star {
    color: #ffd700;
    width: 20px;
    height: 20px;
  }

  &__pricing {
    display: flex;
    align-items: center;
    gap: 7px;
  }

  &__price {
    font-size: 18px;
    font-weight: 800;
    color: #00d407;
  }

  &__old-price {
    color: rgb(117, 117, 117);
    font-weight: 700;
    line-height: 16px;
    text-decoration-line: line-through;
  }

  &__discount {
    color: rgb(239, 0, 0);
    font-weight: 700;
  }

  &__name {
    font-weight: 500;
    color: #171717;
    font-size: 15px;
  }

  &__actions {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }

  &__to-cart {
    flex: 0 90px;
    padding: 12px 20px;
  }

  &__fast-to-cart {
    padding: 0;
    flex: 0 0 45px;
  }
}

@media screen and (max-width: 700px) {
  .product-card {
    max-width: 174px;
    min-width: 174px;
    background: rgba(245, 245, 245, 1);
    border-radius: 15px;

    &__block-img {
      box-shadow: none;
      border-radius: 15px;
      width: 174px;
      height: 174px;
    }
  }
  .product-card__name {
    font-size: 8px;
  }
  .product-card__price {
    font-size: 10px;
  }
  .product-card__old-price {
    font-size: 8px;
  }
  .product-card__discount {
    font-size: 8px;
  }
  .product-card__body {
    padding-inline: 10px;
    padding-bottom: 10px;
    margin-top: 4px;
  }
  .product-card__actions {
    font-size: 10px;
    gap: 7px;
  }
  .product-card__to-cart {
    padding: 5px 35px;
    border-radius: 8px;
    background: rgba(255, 218, 123, 1);
  }
  .product-card__fast-to-cart {
    flex: none;
    width: 24px;
    height: 24px;
    border-radius: 8px;

    background: rgba(255, 218, 123, 1);
    img {
      width: 7px;
      height: 10px;
    }
  }
  .product-card__rating-reviews {
    align-items: center;
  }
  .product-card__star {
    width: 15px;
    height: 15px;
  }
  .product-card__rating {
    font-size: 7px;
  }
  .product-card__reviews {
    font-size: 7px;
  }
}
