.additional-info {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-left: 22px;
  padding-bottom: 25px;
  padding-top: 10px;
  background: rgba(251, 251, 251, 1);

  .commodity-text {
    margin-left: 8px;
    font-size: 12px;
    color: #171717;
    display: flex;
    justify-content: center;
  }

  .cart-items__icon,
  .cart-items__icon1 {
    width: 10px;
    height: 10px;
    cursor: pointer;
  }
}

.additional-info__flex {
  display: flex;
  align-items: center;
  background-color: rgba(244, 244, 244, 1);
  border-radius: 12px;
  margin-left: 12px;
  cursor: pointer;
  background-clip: content-box;
}
