.upper-header__link {
  display: flex;
  align-items: center;
  font-size: 12px;
  max-width: 200px;
  text-align: center;
}
@media screen and (max-width: 1300px) {
  .upper-header__link:nth-child(2),
  .upper-header__link:nth-child(4),
  .upper-header__link:nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 675px) {
  .upper-header__link:nth-child(3),
  .upper-header__link:nth-child(6),
  .upper-header__link:nth-child(5) {
    display: none;
  }
}
