@media screen and (max-width: 700px) {
  .upper-header__container {
    padding-inline: 0px;
  }
  .upper-header__body {
    box-shadow: none;
    gap: 6px;
    padding: 0px;
  }
  .upper-header__link:nth-child(3),
  .upper-header__link:nth-child(6) {
    display: none;
  }
  .upper-header__language {
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2) inset;
    padding: 4px 9px;
    border-radius: 8px;
    margin-right: 0px;
  }
  .upper-header__language img {
    width: 20px;
  }
  .upper-header__link {
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2) inset;
    border-radius: 8px;
    padding: 4px 8px;
  }
}
