$grid-gap: 20px;
$grid-column-min: 180px;
$grid-column-max: 260px;
$grid-row-min: 200px;
$grid-row-max: 220px;

.itemsgrid {
  display: grid;
  grid-row-gap: $grid-gap;
  grid-column-gap: $grid-gap;
  grid-template-rows: minmax($grid-row-min, $grid-row-max);
  grid-template-columns: repeat(6, minmax($grid-column-min, $grid-column-max));
  grid-auto-flow: row;
  place-items: stretch stretch;
  max-width: 1600px;
  margin-top: 10px;
  margin-bottom: 20px;
  
  @media screen and (max-width: 991px) {
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: 479px) {
    grid-template-columns: 1fr;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  
  img {
    max-width: 100%;
    border-radius: 8px;
  }

  .item-price {
    margin-top: 8px;
    font-size: 16px;
    font-weight: bold;

    &.old-price {
      text-decoration: line-through;
      color: #999;
    }
  }

  .item-description {
    margin-top: 12px;
    font-size: 14px;
    color: #333;
    text-align: center;
  }
}



