
.itemssection {
  min-height: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0 20px;
  }
  
  .itemsbg {
    background-color: #fff;
    border-radius: 20px;
    max-width: 1600px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    overflow: auto;
    background-color: #f9f9f9;
  }
  