.footer {
  background-color: #005864;
  position: relative;
  color: white;
  font-family: "Raleway";
  display: none;
  &__container {
    display: grid;
    grid-template-columns: 400px 1fr 320px;
    justify-content: space-between;
    gap: 20px;
    padding-block: 45px;
  }

  &__alt-project {
    color: rgba(255, 255, 255, 0.25);
    font-weight: 600;
  }

  &::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    height: 30px;
    background-color: #005864;
    z-index: -1;
  }
  &__visually-impaired {
    box-sizing: border-box;
    width: 100%;
    color: black;
    margin-top: 20px;
    font-size: 14px;
  }
}

.footer-main-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
  &__text {
    font-size: 12px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.7);
  }
}
.footer-socials {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 13px;

  border: 1px solid rgb(218, 218, 218);
  border-radius: 15px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 35px;
    aspect-ratio: 1;
    border-radius: 10px;
    background: rgb(238, 238, 238);
  }

  &__img {
  }
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, 180px);
  justify-content: center;
  gap: 20px;
  &__item {
    font-size: 14px;
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
  }
}
.footer-links-list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  &__item {
  }

  &__link {
    font-size: 15px;
  }
}

.footer-secondary-info {
  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__qr {
    max-width: 80px;
    overflow: hidden;
    border-radius: 10px;
  }

  &__qr-img {
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 700;
    margin-top: 40px;
    font-size: 14px;
  }
}
.footer-support {
  font-weight: 600;

  display: flex;
  justify-content: space-between;
  gap: 15px;

  &__title {
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
  }

  &__link {
    color: var(--color-yellow);
  }
}
