.card {
  background-color: #fff;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  margin-bottom: 15px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 2px 5px #0003;
}

.card__link {
  max-width: 100%;
  display: inline-block;
}

.card__image {
  width: 126px;
  height: auto;
}


