.card {
    background-color: #fff;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    margin-bottom: 15px;
    display: flex;
    overflow: clip;
    box-shadow: 0 2px 5px #0003;
    height: 60%;
  }
  
  .w-inline-block {
    max-width: 100%;
    display: inline-block;
  }
  
  .image-21 {
    width: 32px;
    height: 32px;
  }
  