@import '../../assets/styles/fonts.scss';

.footer {
  background-color: #005864; 
  padding: 5px;
  font-family: 'Jetbrainsmono', sans-serif;
  position: relative;
  z-index: 1;
  box-shadow: inset 0 0 5px #00000080;

  &::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    height: 30px;
    background-color: #005864;
    z-index: -1;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #E6DCDD;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 10px 20px;
  }

  &__text {
    max-width: 450px;
    color: silver;
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }

  &__support {
    &-title {
      color: #fff;
      font-size: 12px;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 4px;
    }

    &-contact {
      color: rgb(192, 192, 192);
      font-size: 10px;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 1px;
    }
  }

  &__link {
    color: #ffb800;
    text-decoration: none;
  }

  &__qr {
    &-link {
      display: inline-block;
      max-width: 100%;
    }

    &-image {
      width: 77px;
      height: auto;
      border-radius: 10px;
    }
  }
}


