@media screen and (max-width: 700px) {
  .header {
    font-size: 11px;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 25px;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
    margin-inline: 17px;
    padding: 9px 12px;
    gap: 10px;
  }
  .lower-header__body {
    border-radius: 0px;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
  }
  .lower-header__links {
    display: none;
  }
  .lower-header__container {
    padding-inline: 0px;
  }
  .lower-header__catalog-btn {
    display: none;
  }
  .search-bar {
    padding: 10px 14px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2) inset;
    border-radius: 15px;
    font-weight: 500;
  }
  .search-bar__input {
    font-size: 12px;
  }
  .search-bar-actions {
    border-radius: 10px;
    background-color: rgba(23, 23, 23, 1);
    padding: 6px 8px;
  }
  .search-bar-actions img {
    width: 13px;
  }
}
