.header {
  margin-top: 12px;
  margin-bottom: 20px;
}

.upper-header {
  &__container {
    // You can add any specific container styling here
  }

  &__body {
    padding: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 5px #0003;
    gap: 10px;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__language {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
  }

  &__link-text {
    text-transform: uppercase;
    color: rgba(131, 131, 131, 1);
  }

  .theme {
    margin-left: auto; 
  }
}

.tbtn {
  background-color: #fff;
  border-radius: 20px;
  justify-content: flex-start;
  align-items: center;
  width: 38px;
  height: 20px;
  margin-top: 0;
  display: flex;
  box-shadow: inset 0 2px 5px #0003;
  transition: justify-content 0.3s ease, background-color 0.3s ease;

  &.night {
    justify-content: flex-end;
    background-color: #3b3b3b;
  }

  &.day .bcircle {
    background-color: #3b3b3b; 
  }
}

.bcircle {
  background-color: #3b3b3b; 
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  display: flex;
  transition: background-color 0.3s ease;

  .tbtn.night & {
    background-color: #FFD700; 
  }
}


.lower-header {
  &__links {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__link {
    width: 27px;
    aspect-ratio: 1;
  }

  &__body {
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-top: 12px;
    padding: 10px 20px 10px 10px;
    box-shadow: 0 2px 5px #0003;
    gap: 20px;
  }
}





