.header {
  margin-top: 12px;
  margin-bottom: 20px;
}

.tbtn {
  background-color: #fff;
  border-radius: 20px;
  justify-content: flex-start;
  align-items: center;
  width: 38px;
  height: 20px;
  margin-top: 0;
  display: flex;
  box-shadow: inset 0 2px 5px #0003;
  transition: padding-left 0.35s ease, background-color 0.35s ease;

  &.night {
    padding-left: 20px;
    background-color: #3b3b3b;
  }

  &.day .bcircle {
    background-color: #3b3b3b;
  }
}

.bcircle {
  background-color: #3b3b3b;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  display: flex;
  transition: background-color 0.35s ease;

  .tbtn.night & {
    background-color: #ffd700;
  }
}

.lower-header {
  &__links {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__link {
    width: 27px;
    aspect-ratio: 1;
  }

  &__body {
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-top: 12px;
    padding: 10px 20px 10px 10px;
    box-shadow: 0 2px 5px #0003;
    gap: 20px;
  }
}

