.product {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  height: 100%;
  
  &__card {
    background-color: #fff;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    display: flex;
    overflow: hidden;
    box-shadow: 0 2px 5px #0003;
    text-align: center; 
  }

  &__card-link {
    max-width: 100%;
    width: 80%; 
    display: flex;
    justify-content: center; 
  }

  &__card-image {
    width: 85%;
    height: auto;
    margin: auto; 
    display: block;
  }

  &__description {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__description-price {
    color: #00d46e;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 20px;
    text-decoration: none;
    display: flex;
  }

  &__description-price-current {
    color: #00d46e;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 800; 
    font-family: sans-serif; 
  }

  &__description-price-old {
    color: #858585;
    letter-spacing: 1px;
    margin-left: 8px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: line-through;
  }

  &__description-text {
    color: #171717;
  }

  &__description-text-content {
    letter-spacing: 1px;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
  }
}



  