@import "./assets/styles/reset.scss";
@import "./assets/styles//fonts.scss";

@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  --color-yellow: #ffcc00;
  --color-turquoise: rgb(0, 88, 100);
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: "Jetbrainsmono";
}

h2 {
  font-size: 30px;
}

button {
  cursor: pointer;
}

img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}

[class*="__container"] {
  max-width: 1640px;
  padding-inline: 20px;
  margin: 0 auto;
}

#root {
  background: rgba(249, 249, 249, 1);
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media screen and (max-width: 700px) {
  .wrapper {
    margin-inline: 17px;
  }
}
