@import "./assets/styles/reset.scss";
@import "./assets/styles//fonts.scss";

:root {
  --color-yellow: #ffcc00;
  --color-turquoise: rgb(0, 88, 100);
}

body {
  font-size: 16px;
  font-family: "Jetbrainsmono";
}

h2 {
  font-size: 30px;
}

button {
  cursor: pointer;
}

img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}

[class*="__container"] {
  max-width: 1640px;
  padding-inline: 20px;
  margin: 0 auto;
}
