.item {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  height: 100%;
  display: flex;
}
  
 
  // .card {
  //   background-color: #fff;
  //   border-radius: 15px;
  //   justify-content: center;
  //   align-items: center;
  //   width: 100%;
  //   height: 80%;
  //   margin-bottom: 15px;
  //   display: flex;
  //   overflow: clip;
  //   box-shadow: 0 2px 5px #0003;
  //   height: 60%;
  // }
  
 
  
  // .price {
  //   color: #00d46e;
  //   justify-content: flex-start;
  //   align-items: center;
  //   width: 100%;
  //   min-height: 20px;
  //   text-decoration: none;
  //   display: flex;
  // }
  
  // .currentprice {
  //   letter-spacing: 1px;
  //   font-size: 16px;
  //   font-weight: 600;
  //   text-decoration: none;
  // }
  
  // .oldprice {
  //   color: #858585;
  //   letter-spacing: 1px;
  //   margin-left: 8px;
  //   font-size: 16px;
  //   font-weight: 600;
  //   text-decoration: line-through;
  // }
  
  // .text {
  //   color: #171717;
  //   text-decoration: none;
  // }
  
  // .dtext {
  //   letter-spacing: 1px;
  //   margin-top: 10px;
  //   font-size: 13px;
  //   font-weight: 600;
  //   text-decoration: none;
  // }
  